

.feature-details {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.feature-details h6,
.feature-details span {
  display: inline;  /* or display: inline; */
  margin: 0;             /* Remove default margins to ensure elements are close */
}

.card {
  height: 100%;  /* Set a fixed height for the card */
}

li{
 list-style-type: none;
}

h5{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}
